In [1]:
#import packages and data
import pandas as pd
from pandas import read_csv
partd_df = pd.read_csv('PartD_Prescriber_PUF_NPI_17.txt', sep='\t')     
print(partd_df.shape)
#1,162,898 rows and 84 columns

(1162898, 84)

In [3]:
#Glance at PartD presciber data
partd_df.head(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [42]:
#display all 84 columns of partD prescriber data
import pandas
from pandas import set_option
set_option('display.max_columns', None)
partd_df.head(10)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,ge65_suppress_flag,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65_suppress_flag,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_suppress_flag,generic_claim_count,generic_drug_cost,other_suppress_flag,other_claim_count,other_drug_cost,mapd_suppress_flag,mapd_claim_count,mapd_drug_cost,pdp_suppress_flag,pdp_claim_count,pdp_drug_cost,lis_suppress_flag,lis_claim_count,lis_drug_cost,nonlis_suppress_flag,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_ge65_suppress_flag,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_ge65_suppress_flg,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,S,E,677,695.5,32639.57,14788,234.0,NaN,516.0,532.533,23174.78,11428.0,NaN,182.0,#,NaN,NaN,NaN,552.0,5941.53,*,NaN,NaN,NaN,150.0,3032.66,NaN,527.0,29606.91,NaN,305.0,17267.72,NaN,372.0,15371.85,25.0,197.47,134.0,24.0,3.69,NaN,NaN,NaN,NaN,NaN,125.0,2478.65,104.0,*,NaN,NaN,*,NaN,72.0,52.0,82.0,67.0,33.0,142.0,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.168
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,S,E,1946,2054.8,140189.01,58605,276.0,NaN,881.0,919.067,50838.50,26089.0,NaN,160.0,NaN,235.0,106048.28,NaN,1711.0,34140.73,NaN,0.0,0.00,NaN,930.0,67081.22,NaN,1016.0,73107.79,NaN,1184.0,94361.07,NaN,762.0,45827.94,1040.0,50895.21,29238.0,200.0,53.44,200.0,37637.86,5853.0,49.0,19.23,0.0,0.00,0.0,NaN,0.0,0.00,NaN,0.0,65.0,116.0,99.0,45.0,16.0,184.0,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.803
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,89403.0,7482.0,NV,US,Dentist,S,N,55,55.0,302.01,430,33.0,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,#,NaN,NaN,*,NaN,NaN,NaN,16.0,58.19,NaN,39.0,243.82,*,NaN,NaN,#,NaN,NaN,14.0,61.95,35.0,11.0,25.45,0.0,0.00,0.0,0.0,0.00,28.0,134.92,22.0,NaN,0.0,0.00,NaN,0.0,72.0,NaN,NaN,NaN,NaN,16.0,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.060
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,91744.0,4648.0,CA,US,Dentist,S,N,18,18.0,113.81,150,NaN,#,NaN,NaN,NaN,NaN,#,NaN,NaN,0.0,0.00,NaN,18.0,113.81,NaN,0.0,0.00,*,NaN,NaN,*,NaN,NaN,#,NaN,NaN,*,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,12.0,81.54,NaN,NaN,0.0,0.00,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,S,N,90,110.0,7561.21,2681,11.0,NaN,65.0,85.000,3894.08,1931.0,*,NaN,NaN,28.0,6576.28,NaN,62.0,984.93,NaN,0.0,0.00,NaN,22.0,485.04,NaN,68.0,7076.17,NaN,73.0,3947.56,NaN,17.0,3613.65,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,0.0,0.00,0.0,NaN,0.0,0.00,NaN,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.515
5,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,15825.0,1367.0,PA,US,Family Practice,S,E,2788,2798.1,108601.73,50677,117.0,NaN,2700.0,2710.033,102520.84,48655.0,#,NaN,#,NaN,NaN,NaN,1919.0,36600.82,*,NaN,NaN,NaN,702.0,19649.55,NaN,2086.0,88952.18,NaN,1990.0,79997.59,NaN,798.0,28604.14,32.0,1637.39,622.0,11.0,1.15,15.0,1317.34,260.0,NaN,46.88,89.0,1574.46,55.0,NaN,38.0,1608.62,#,NaN,81.0,NaN,NaN,NaN,NaN,86.0,31.0,117.0,0.0,0.0,0.0,0.0,0.0,71.0,46.0,1.849
6,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,44106.0,1716.0,OH,US,Obstetrics & Gynecology,S,E,200,307.2,14549.85,7587,65.0,NaN,118.0,202.800,10062.90,4964.0,NaN,46.0,NaN,48.0,7798.28,NaN,152.0,6751.57,NaN,0.0,0.00,NaN,81.0,6681.72,NaN,119.0,7868.13,NaN,70.0,3657.25,NaN,130.0,10892.60,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,13.0,141.50,NaN,NaN,0.0,0.00,NaN,0.0,66.0,19.0,25.0,NaN,NaN,65.0,0.0,NaN,NaN,0.0,NaN,0.0,0.0,48.0,17.0,0.788
7,1003000480,ROTHCHILD,KEVIN,B,MD,M,I,12605 E 16TH AVE,NaN,AURORA,80045.0,2545.0,CO,US,General Surgery,S,E,45,73.0,2974.86,1804,24.0,NaN,18.0,30.000,1170.74,794.0,*,NaN,*,NaN,NaN,NaN,33.0,1344.57,*,NaN,NaN,*,NaN,NaN,#,NaN,NaN,#,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,NaN,NaN,NaN,NaN,0.0,0.00,NaN,0.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.841
8,1003000522,WEIGAND,FREDERICK,J,MD,M,I,1565 SAXON BLVD,SUITE 102,DELTONA,32725.0,5876.0,FL,US,Family Practice,S,E,4981,11494.1,258258.70,337309,459.0,NaN,4564.0,10602.100,230735.90,311440.0,NaN,410.0,NaN,677.0,145938.02,NaN,4281.0,111188.48,NaN,23.0,1132.20,NaN,2537.0,111747.85,NaN,2444.0,146510.85,NaN,628.0,51584.42,NaN,4353.0,206674.28,128.0,2065.14,3509.0,51.0,2.57,NaN,NaN,NaN,NaN,NaN,130.0,1898.75,98.0,*,NaN,NaN,*,NaN,74.0,49.0,190.0,133.0,87.0,256.0,203.0,393.0,NaN,NaN,38.0,0.0,NaN,402.0,57.0,1.206
9,1003000530,SEMONCHE,AMANDA,M,DO,F,I,1021 PARK AVE,SUITE 203,QUAKERTOWN,18951.0,NaN,PA,US,Internal Medicine,S,E,7165,11406.5,379661.02,333309,461.0,NaN,5798.0,9540.567,290831.91,279744.0,NaN,387.0,NaN,956.0,273094.17,NaN,6150.0,103858.19,NaN,59.0,2708.66,NaN,2895.0,172382.82,NaN,4270.0,207278.20,NaN,1545.0,116344.04,NaN,5620.0,263316.98,168.0,13587.66,4554.0,36.0,2.34,32.0,10677.25,960.0,NaN,19.05,119.0,1848.06,89.0,NaN,53.0,873.77,*,NaN,72.0,74.0,191.0,143.0,53.0,282.0,179.0,437.0,NaN,NaN,NaN,0.0,NaN,391.0,70.0,1.228

In [43]:
# display PartD prescriber column labels
partd_df.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi',
       'nppes_credentials', 'nppes_provider_gender', 'nppes_entity_code', 'nppes_provider_street1',
       'nppes_provider_street2', 'nppes_provider_city', 'nppes_provider_zip5',
       'nppes_provider_zip4', 'nppes_provider_state', 'nppes_provider_country',
       'specialty_description', 'description_flag', 'medicare_prvdr_enroll_status',
       'total_claim_count', 'total_30_day_fill_count', 'total_drug_cost', 'total_day_supply',
       'bene_count', 'ge65_suppress_flag', 'total_claim_count_ge65',
       'total_30_day_fill_count_ge65', 'total_drug_cost_ge65', 'total_day_supply_ge65',
       'bene_count_ge65_suppress_flag', 'bene_count_ge65', 'brand_suppress_flag',
       'brand_claim_count', 'brand_drug_cost', 'generic_suppress_flag', 'generic_claim_count',
       'generic_drug_cost', 'other_suppress_flag', 'other_claim_count', 'other_drug_cost',
       'mapd_suppress_flag', 'mapd_claim_count', 'mapd_drug_cost', 'pdp_suppress_flag',
       'pdp_claim_count', 'pdp_drug_cost', 'lis_suppress_flag', 'lis_claim_count', 'lis_drug_cost',
       'nonlis_suppress_flag', 'nonlis_claim_count', 'nonlis_drug_cost', 'opioid_claim_count',
       'opioid_drug_cost', 'opioid_day_supply', 'opioid_bene_count', 'opioid_prescriber_rate',
       'la_opioid_claim_count', 'la_opioid_drug_cost', 'la_opioid_day_supply',
       'la_opioid_bene_count', 'la_opioid_prescriber_rate', 'antibiotic_claim_count',
       'antibiotic_drug_cost', 'antibiotic_bene_count', 'antipsych_ge65_suppress_flag',
       'antipsych_claim_count_ge65', 'antipsych_drug_cost_ge65',
       'antipsych_bene_ge65_suppress_flg', 'antipsych_bene_count_ge65',
       'average_age_of_beneficiaries', 'beneficiary_age_less_65_count',
       'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count',
       'beneficiary_age_greater_84_count', 'beneficiary_female_count', 'beneficiary_male_count',
       'beneficiary_race_white_count', 'beneficiary_race_black_count',
       'beneficiary_race_asian_pi_count', 'beneficiary_race_hispanic_count',
       'beneficiary_race_nat_ind_count', 'beneficiary_race_other_count',
       'beneficiary_nondual_count', 'beneficiary_dual_count', 'beneficiary_average_risk_score'],
      dtype='object')

In [21]:
#drop columns from PartD prescriber data that are not needed
#create new data frame (PartDnewDF) from dropping useless columns
PartDnewDF= partd_df.drop(columns=['nppes_provider_mi', 'nppes_entity_code',
                       'nppes_provider_street1', 'nppes_provider_street2', 'description_flag', 'ge65_suppress_flag','bene_count_ge65_suppress_flag',
                       'generic_suppress_flag', 'other_suppress_flag', 'mapd_suppress_flag', 'pdp_suppress_flag', 'lis_suppress_flag',
                        'nonlis_suppress_flag', 'antipsych_ge65_suppress_flag', 'antipsych_bene_ge65_suppress_flg',
                             'beneficiary_race_white_count', 'beneficiary_race_black_count'
                             , 'beneficiary_race_asian_pi_count', 'beneficiary_race_hispanic_count'
                             , 'beneficiary_race_nat_ind_count', 'beneficiary_race_other_count'])
pd.set_option('display.max_columns', None)
PartDnewDF.head(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_credentials,nppes_provider_gender,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,total_claim_count_ge65,total_30_day_fill_count_ge65,total_drug_cost_ge65,total_day_supply_ge65,bene_count_ge65,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_claim_count,generic_drug_cost,other_claim_count,other_drug_cost,mapd_claim_count,mapd_drug_cost,pdp_claim_count,pdp_drug_cost,lis_claim_count,lis_drug_cost,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_claim_count_ge65,antipsych_drug_cost_ge65,antipsych_bene_count_ge65,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,M.D.,M,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,E,677,695.5,32639.57,14788,234.0,516.0,532.533333,23174.78,11428.0,182.0,#,NaN,NaN,552.0,5941.53,NaN,NaN,150.0,3032.66,527.0,29606.91,305.0,17267.72,372.0,15371.85,25.0,197.47,134.0,24.0,3.69,NaN,NaN,NaN,NaN,NaN,125.0,2478.65,104.0,NaN,NaN,NaN,72.0,52.0,82.0,67.0,33.0,142.0,92.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,M.D.,M,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,E,1946,2054.8,140189.01,58605,276.0,881.0,919.066667,50838.50,26089.0,160.0,NaN,235.0,106048.28,1711.0,34140.73,0.0,0.0,930.0,67081.22,1016.0,73107.79,1184.0,94361.07,762.0,45827.94,1040.0,50895.21,29238.0,200.0,53.44,200.0,37637.86,5853.0,49.0,19.23,0.0,0.00,0.0,0.0,0.0,0.0,65.0,116.0,99.0,45.0,16.0,184.0,92.0,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,DDS,M,DAYTON,89403.0,7482.0,NV,US,Dentist,N,55,55.0,302.01,430,33.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,16.0,58.19,39.0,243.82,NaN,NaN,NaN,NaN,14.0,61.95,35.0,11.0,25.45,0.0,0.00,0.0,0.0,0.00,28.0,134.92,22.0,0.0,0.0,0.0,72.0,NaN,NaN,NaN,NaN,16.0,17.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,D.D.S.,F,LA PUENTE,91744.0,4648.0,CA,US,Dentist,N,18,18.0,113.81,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,18.0,113.81,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,12.0,81.54,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,FNP,F,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,N,90,110.0,7561.21,2681,11.0,65.0,85.000000,3894.08,1931.0,NaN,NaN,28.0,6576.28,62.0,984.93,0.0,0.0,22.0,485.04,68.0,7076.17,73.0,3947.56,17.0,3613.65,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5148

In [22]:
PartDnewDF.shape
#1162898 columns and 63 rows. What other columns can we get rid of to expedire data processing and modeling????

(1162898, 63)

In [23]:
#PArt D data column counts for valid values
PartDnewDF.count()

npi                                 1162898
nppes_provider_last_org_name        1162864
nppes_provider_first_name           1162876
nppes_credentials                   1092160
nppes_provider_gender               1162895
nppes_provider_city                 1162898
nppes_provider_zip5                 1162846
nppes_provider_zip4                 1005831
nppes_provider_state                1162898
nppes_provider_country              1162898
specialty_description               1162898
medicare_prvdr_enroll_status        1162898
total_claim_count                   1162898
total_30_day_fill_count             1162898
total_drug_cost                     1162898
total_day_supply                    1162898
bene_count                          1031058
total_claim_count_ge65               910442
total_30_day_fill_count_ge65         910442
total_drug_cost_ge65                 910442
total_day_supply_ge65                910442
bene_count_ge65                      645306
brand_suppress_flag                  470339
brand_claim_count                    692559
brand_drug_cost                      692559
generic_claim_count                  846561
generic_drug_cost                    846561
other_claim_count                    914928
other_drug_cost                      914928
mapd_claim_count                     936166
                                     ...
lis_claim_count                      922025
lis_drug_cost                        922025
nonlis_claim_count                   922025
nonlis_drug_cost                     922025
opioid_claim_count                   834341
opioid_drug_cost                     834341
opioid_day_supply                    834341
opioid_bene_count                    775464
opioid_prescriber_rate               834341
la_opioid_claim_count               1017426
la_opioid_drug_cost                 1017426
la_opioid_day_supply                1017426
la_opioid_bene_count                 947351
la_opioid_prescriber_rate            674916
antibiotic_claim_count               820872
antibiotic_drug_cost                 820872
antibiotic_bene_count                762301
antipsych_claim_count_ge65          1001773
antipsych_drug_cost_ge65            1001773
antipsych_bene_count_ge65            911239
average_age_of_beneficiaries        1031058
beneficiary_age_less_65_count        645306
beneficiary_age_65_74_count          540107
beneficiary_age_75_84_count          361504
beneficiary_age_greater_84_count     382527
beneficiary_female_count             822278
beneficiary_male_count               822278
beneficiary_nondual_count            683625
beneficiary_dual_count               683625
beneficiary_average_risk_score      1031058
Length: 63, dtype: int64

In [3]:
# create final part D dataframe (finalpartd_DF) with cleaner column names

#RENAME COLUMNS
rename_dict = {'npi': 'NPI', 'nppes_provider_last_org_name':'LASTNAME', 'nppes_provider_first_name':'FIRSTNAME',
               'nppes_provider_city':'CITY','nppes_provider_zip5':'ZIP', 'nppes_provider_state': 'STATE', 
               'nppes_credentials': 'CREDENTIALS', 'nppes_provider_gender': 'gender', 'nppes_provider_zip4': 'ZIP4',
              'nppes_provider_country': 'COUNTRY', 'total_claim_count_ge65': 'total_claim_count'
              , 'total_30_day_fill_count_ge65': 'total_30_day_fill_count', 'total_drug_cost_ge65': 'total_drug_cost_ge65'
              , 'bene_count_ge65': 'bene_count_ge65', 'antipsych_claim_count_ge65': 'antipsych_claim_count',
              'antipsych_drug_cost_ge65': 'antipsych_drug_cost', 'antipsych_bene_count_ge65': 'antipsych_bene_count'
              , 'total_drug_cost_ge65': 'total_drug_cost', 'total_day_supply_ge65': 'total_day_supply', 
              'bene_count_ge65': 'bene_count'}
finalpartd_DF= newDF.rename(columns=rename_dict)
finalpartd_DF.head(5)

,NPI,LASTNAME,FIRSTNAME,CREDENTIALS,gender,CITY,ZIP,ZIP4,STATE,COUNTRY,specialty_description,medicare_prvdr_enroll_status,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,brand_suppress_flag,brand_claim_count,brand_drug_cost,generic_claim_count,generic_drug_cost,other_claim_count,other_drug_cost,mapd_claim_count,mapd_drug_cost,pdp_claim_count,pdp_drug_cost,lis_claim_count,lis_drug_cost,nonlis_claim_count,nonlis_drug_cost,opioid_claim_count,opioid_drug_cost,opioid_day_supply,opioid_bene_count,opioid_prescriber_rate,la_opioid_claim_count,la_opioid_drug_cost,la_opioid_day_supply,la_opioid_bene_count,la_opioid_prescriber_rate,antibiotic_claim_count,antibiotic_drug_cost,antibiotic_bene_count,antipsych_claim_count,antipsych_drug_cost,antipsych_bene_count,average_age_of_beneficiaries,beneficiary_age_less_65_count,beneficiary_age_65_74_count,beneficiary_age_75_84_count,beneficiary_age_greater_84_count,beneficiary_female_count,beneficiary_male_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,M.D.,M,CUMBERLAND,21502.0,1854.0,MD,US,Internal Medicine,E,677,695.5,32639.57,14788,234.0,516.0,532.533333,23174.78,11428.0,182.0,#,NaN,NaN,552.0,5941.53,NaN,NaN,150.0,3032.66,527.0,29606.91,305.0,17267.72,372.0,15371.85,25.0,197.47,134.0,24.0,3.69,NaN,NaN,NaN,NaN,NaN,125.0,2478.65,104.0,NaN,NaN,NaN,72.0,52.0,82.0,67.0,33.0,142.0,92.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,M.D.,M,TOLEDO,43623.0,3536.0,OH,US,Anesthesiology,E,1946,2054.8,140189.01,58605,276.0,881.0,919.066667,50838.50,26089.0,160.0,NaN,235.0,106048.28,1711.0,34140.73,0.0,0.0,930.0,67081.22,1016.0,73107.79,1184.0,94361.07,762.0,45827.94,1040.0,50895.21,29238.0,200.0,53.44,200.0,37637.86,5853.0,49.0,19.23,0.0,0.00,0.0,0.0,0.0,0.0,65.0,116.0,99.0,45.0,16.0,184.0,92.0,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,DDS,M,DAYTON,89403.0,7482.0,NV,US,Dentist,N,55,55.0,302.01,430,33.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,16.0,58.19,39.0,243.82,NaN,NaN,NaN,NaN,14.0,61.95,35.0,11.0,25.45,0.0,0.00,0.0,0.0,0.00,28.0,134.92,22.0,0.0,0.0,0.0,72.0,NaN,NaN,NaN,NaN,16.0,17.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,D.D.S.,F,LA PUENTE,91744.0,4648.0,CA,US,Dentist,N,18,18.0,113.81,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,18.0,113.81,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,12.0,81.54,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,FNP,F,NASHVILLE,37243.0,1.0,TN,US,Nurse Practitioner,N,90,110.0,7561.21,2681,11.0,65.0,85.000000,3894.08,1931.0,NaN,NaN,28.0,6576.28,62.0,984.93,0.0,0.0,22.0,485.04,68.0,7076.17,73.0,3947.56,17.0,3613.65,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5148

In [ ]:
#Generate a chart showing sum-max-mean for NPIs 
group_cols = ['NPI']

agg_dict = {'total_day_supply':['sum','mean','max']}



partD_pd2 = finalpartd_DF.groupby(group_cols).agg(agg_dict).astype(float)
partD_pd2.head(2)

In [25]:
#LEIE data processing
import pandas as pd
from pandas import read_csv
exclusions_df = pd.read_csv('exclusion2020.csv')  #https://oig.hhs.gov/exclusions/exclusions_list.asp  03-2020 Updated LEIE Database
print(exclusions_df.shape)
#(73034 rows and 18 columns

(73034, 18)

In [26]:
#Glance at exclusions data
exclusions_df.head(5)

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE
0,MAYARD,GRACIA,LOUIS,NaN,"PHYSICIAN (MD, DO)",INTERNAL MEDICINE,NaN,1992978571,19510824.0,11601 221ST STREET,CAMBRIA HEIGHTS,NY,11411,1128b4,20150520,0,0,NaN
1,MAYARD,GRACIA,L,NaN,"PHYSICIAN (MD, DO)",GENERAL PRACTICE,NaN,1992978571,19510824.0,"P O BOX 4000, #82077-053",SPRINGFIELD,MO,65801,1128a4,20160120,0,0,NaN
2,HOBOWSKY,MARTIN,RICHARD,NaN,OSTEOPATHIC PRAC,OSTEOPATHY,G54309,1992971428,19440321.0,P O BOX 726,S CHARLESTON,OH,45368,1128b14,20101020,0,0,NaN
3,BRENSINGER,HEATHER,LEE,NaN,IND- LIC HC SERV PRO,NURSE/NURSES AIDE,NaN,1992958078,19790427.0,"325 STATE STREET, APT 3",HAMBURG,PA,19526,1128a4,20120119,0,0,NaN
4,SMITH,HAROLD,EDWARD,NaN,IND- LIC HC SERV PRO,NURSE/NURSES AIDE,NaN,1992916076,19520531.0,3054 GREENMOUNT ROAD,ORLANDO,FL,32806,1128b4,20150820,0,0,NaN

In [9]:
#Remove columns from exclusion data that are not needed (further discussion needed)
newexclusionDF= exclusions_df.drop(columns=['MIDNAME', 'DOB', 'ADDRESS', 'EXCLDATE', 'REINDATE', 'WAIVERDATE', 'WVRSTATE'])
newexclusionDF.head(5)

,LASTNAME,FIRSTNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,CITY,STATE,ZIP,EXCLTYPE
0,MAYARD,GRACIA,NaN,"PHYSICIAN (MD, DO)",INTERNAL MEDICINE,NaN,1992978571,CAMBRIA HEIGHTS,NY,11411,1128b4
1,MAYARD,GRACIA,NaN,"PHYSICIAN (MD, DO)",GENERAL PRACTICE,NaN,1992978571,SPRINGFIELD,MO,65801,1128a4
2,HOBOWSKY,MARTIN,NaN,OSTEOPATHIC PRAC,OSTEOPATHY,G54309,1992971428,S CHARLESTON,OH,45368,1128b14
3,BRENSINGER,HEATHER,NaN,IND- LIC HC SERV PRO,NURSE/NURSES AIDE,NaN,1992958078,HAMBURG,PA,19526,1128a4
4,SMITH,HAROLD,NaN,IND- LIC HC SERV PRO,NURSE/NURSES AIDE,NaN,1992916076,ORLANDO,FL,32806,1128b4

In [28]:
#extract the NPI and EXCL TYPE columns
npifraud0= newexclusionDF.loc[:,['NPI','EXCLTYPE']]

In [29]:
npifraud0.head()

          NPI EXCLTYPE
0  1992978571   1128b4
1  1992978571   1128a4
2  1992971428  1128b14
3  1992958078   1128a4
4  1992916076   1128b4

In [30]:
#filter out the NPI values that are not = 0
npifraud1 = npifraud0.query('NPI !=0')

In [31]:
npifraud1.head()

          NPI EXCLTYPE
0  1992978571   1128b4
1  1992978571   1128a4
2  1992971428  1128b14
3  1992958078   1128a4
4  1992916076   1128b4

In [33]:
npifraud1.count()
#we have 5419 of our key NPI values to work with for processing/modeling

NPI         5419
EXCLTYPE    5419
dtype: int64

In [34]:
#rename the EXCL TYPE to just FRAUD
rename_dict = {'EXCLTYPE':'FRAUD'}
npi_fraud = npifraud1.rename(columns=rename_dict)

In [36]:
npi_fraud.head()

          NPI    FRAUD
0  1992978571   1128b4
1  1992978571   1128a4
2  1992971428  1128b14
3  1992958078   1128a4
4  1992916076   1128b4

In [39]:
#Associate NPIs with exclusion data with a 1
npi_fraud['FRAUD'] = 1

In [40]:
npi_fraud.head()

          NPI  FRAUD
0  1992978571      1
1  1992978571      1
2  1992971428      1
3  1992958078      1
4  1992916076      1

In [20]:
print(npi_fraud_pd.dtypes)

NPI          int64
FRAUD       object
is_fraud     int64
dtype: object